/* CATALOG */
#handing_{
  top: 10%;
}
#handing_ figcaption{
  margin-top: 10px;
  width: 100px;
  margin-left: 30%;
}
#desktop_{
  top: 55%;
}
#desktop_ figcaption{
  width: 100px;
  margin-top: 10px;
  margin-left: 25%;
}
#sconce_{
  top: 30%;
}
#sconce_ figcaption{
  margin-top: 20px;
  margin-left: 60%;
  font-size: 20px;
}
#floor_{
  top: 55%;
}
#floor_ figcaption{
  margin-top: 20px;
  margin-right: 30%;
  font-size: 20px;
}
