@font-face{
  font-family:'roboto_light';
  src: url('/fonts/roboto light.ttf');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
}
.rside-menu{
  position: fixed;
  top: 100px;
  right: -130px;
  text-align: right;
  transition-duration: .5s;
}
.open_rside{
    position: fixed;
    right: 0;
    top: 150px;
  	border: 20px solid transparent;
    border-right: 15px solid #b15f32;
}
.open_rside:hover + .rside-menu{
  right: 0px;
}
.rside-menu:hover{
  right: 0px;
}
.rside-menu ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  padding-left: 10px;
}
.rside-menu ul li{
  list-style: none;
  text-align: center;
  padding: 10px;
  background: #b15f32;
  color: white;
  border-bottom: 1px #964c24 solid;
  transition-duration: .5s;
  position: relative;
}
.rside-menu ul li:hover{
  background-color: #ce7f54
}
.rside-menu ul li > ul{
  position: absolute;
  right: 100%;
  top: -9999px;
  width: 150px;
  border-right: 1px solid #964c24;
  opacity: 0;
  transition: .5s opacity;
}
.rside-menu ul li:hover > ul{
  top: 0;
  opacity: 1;
}
.rside-menu ul li:first-child{
  border-top-left-radius: 5px;
}
.rside-menu ul li:last-child{
  border-bottom-left-radius: 5px;
  border: none;
}
main{
  width: 65%;
  min-width: 900px;
  margin: 0 auto;
  font-family: roboto_light;
}
.buttons{
  margin-top: 20px;
  background: #b2b2b2;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.buttons button{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 15px;
  border: none;
  background: #b15f32;
  color: white;
  padding: 10px;
}
.functions{
  margin-top: 10px;
  background: #b2b2b2;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
.functions form{
  display: none;
  position: relative;
  margin-bottom: 5px;
}
.main-info{
  float: left;
}
.glr-imgs{
  float: left;
  margin-left: 15px;
}
.glr-imgs input{
  height: 40px;
  width: 265px;
}
.new_good *{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.functions .new_good{
  display: block;
  margin-left: 10px;
}
.new_good input[type="text"]{
  border: none;
  height: 40px;
  width: 250px;
  text-indent: 5px;
}
.new_good select{
  border: none;
  height: 40px;
  width: 250px;
  text-indent: 5px;
}
.new_good button{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: roboto_light;
  font-size: 15px;
  border: none;
  background: #b15f32;
  color: white;
  padding: 10px;
  width: 875px;
}
.new_good textarea{
  width: 875px;
  text-indent: 5px;
  resize: vertical;
}
.delete{
  width: 100%;
}
.delete .list{
    margin: 0 auto;
  column-count: 3;
  margin-top: 10px;
  width: 90%;
  margin-bottom: 10px;
}
.delete .list input{
  vertical-align: middle;
}
.delete .list label{
  margin-left: 5px;
    vertical-align: middle;
}
.del_select {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}
.delete button{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: roboto_light;
  font-size: 15px;
  border: none;
  background: #b15f32;
  color: white;
  padding: 10px;
  width: 70%;
  margin-left: 135px;
}
.message{
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
}
.message input{
  text-indent: 5px;
}
.message textarea{
  text-indent: 5px;
  width: 300px;
  height: 200px;
  resize: none;
  display: block;
  margin-top: 2px;
}
.message button{
  width: 300px;
  margin-top: 2px;
}
.emails{
  width: 300px;
  height: 200px;
  position: absolute;
  right: 0;
  top: 20px;
}
.sel_all_email{
  position: absolute;
  right: 0;
}
.emails.eng{
  display: none;
}
/* COLOR GALERY */
#green::after{
  content: "    ";
  border: solid 5px green;
  margin-right: 5px;
  background: green;
  margin-left: 125px;
  vertical-align: middle;
}
#blue::after{
  content: "    ";
  border: solid 5px blue;
  margin-right: 5px;
  background: blue;
  margin-left: 125px;
  vertical-align: middle;
}
#orange::after{
  content: "    ";
  border: solid 5px orange;
  margin-right: 5px;
  background: orange;
  margin-left: 125px;
  vertical-align: middle;
}
#red::after{
  content: "    ";
  border: solid 5px red;
  margin-right: 5px;
  background: red;
  margin-left: 125px;
  vertical-align: middle;
}
#gray::after{
  content: "    ";
  border: solid 5px gray;
  margin-right: 5px;
  background: gray;
  margin-left: 125px;
  vertical-align: middle;
}
.spacing-warning{
  text-align: center;
  font-size: 12px;
  float: left;
  width: 40%;
}
