@font-face{
  font-family:'roboto_light';
  src: url('/fonts/roboto light.ttf');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
}
main{
  width: 800px;
  margin: 0 auto;
  font-family: roboto_light;
  margin-left: -15px; 
}
.buttons{
  margin-top: 20px;
  background: #b2b2b2;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.buttons button{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 15px;
  border: none;
  background: #b15f32;
  color: white;
  padding: 10px;
}
.functions{
  margin-top: 10px;
  background: #b2b2b2;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
.functions form{
  display: none;
  position: relative;
  margin-bottom: 5px;
}
.new_good *{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.new_good{
  margin-left: 10px;
}
.new_good input[type="text"]{
  border: none;
  height: 30px;
  width: 250px;
  text-indent: 5px;
}
.new_good button{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: roboto_light;
  font-size: 15px;
  border: none;
  background: #b15f32;
  color: white;
  padding: 10px;
  width: 250px;
}
.new_good textarea{
  width: 250px;
  text-indent: 5px;
}
.message{
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
}
.message input{
  text-indent: 5px;
}
.message textarea{
  text-indent: 5px;
  width: 300px;
  height: 200px;
  resize: none;
  display: block;
  margin-top: 2px;
}
.message button{
  width: 300px;
  margin-top: 2px;
}
.emails{
  width: 300px;
  height: 200px;
  position: absolute;
  right: 0;
  top: 20px;
}
.sel_all_email{
  position: absolute;
  right: 0;
}
.emails.eng{
  display: none;
}
